nav ul{
margin: 0px;
padding: 0px;
}
nav li{
list-style-type: none;
float: left;
}
nav a{
display: inline-block;
text-decoration: none;
padding: 20px 30px;
color: #fff;
text-transform: uppercase;
font-size: 15px;
}

}
.menu:hover{
border-top: 5px solid #e44d26 ;
background-color: RGBa(228,77,38,0.15);
}
